/* Estilos para el formulario */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #f33303;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;  /* Permite cambiar el tamaño de la caja verticalmente */
}

button:hover {
    background-color: #21f705;
    color: rgb(248, 245, 245); /* Cambiar el color del texto a negro */
    font-weight: bold;
}


.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;   /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra suave */
    width: 300px;
    border: 2px solid #070606;  /* Marco alrededor del formulario */
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #080808;  
    border-radius: 4px;        /* Bordes redondeados */
    box-sizing: border-box;    /* Incluye el padding dentro del tamaño total */
}

